<div class="container-fluid portfolio-base">  
 <div class="row full-height">
   <div class="col px-0">
      <app-landing-component></app-landing-component>
   </div>
 </div>
 <div class="row full-height">
    <div class="col ">
        <app-occupation-component></app-occupation-component>
    </div>
  </div>
  <div class="row">
      <div class="col">
          <app-skills-component></app-skills-component>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <app-blogs-list></app-blogs-list>
        </div>
      </div>
</div>