<div class="my-2">
        <h4 class="my-5">
                What I do
            </h4>
            <div class="card-deck" id="what-i-do">
                <div class="m-5">
                    <div>
                        <img class ="ProfileImage" src="../../assets/ProfileImage.jpeg"/>
                    </div>
                </div>
                <div class="card bg-success text-white ">
                    <div class="card-body">
                        As a back end developer I have used .net core and entity framework to create the current 
                        API endpoints for the web application which controls the licensing and invoicing at EHSData. 
                        This included using identity to provide login and role based security. 
                        It also included the creation of crystal reports as rpt and pdf files. 
                    </div>
                </div>
                <div class="card bg-success text-white ">
                    <div class="card-body">
                        As a front end developer I primarily use razor pages leveraging the power of c# in CSHTML pages and 
                        KnockoutJs to provide instant feedback and a great user experience.
                    </div>
                </div>
            </div>
</div>