
<h4 class="my-5">
    SKILLS & KNOWLEDGE
</h4>
<mat-grid-list cols="3" gutterSize="20" rowHeight="6:1">
    <mat-grid-tile>
            <img class="md-avatar" src="../../assets/dotnet.png"/>
            <p class="m-2">Dotnet </p>
    </mat-grid-tile>
    <mat-grid-tile>
            <img class="md-avatar" src="../../assets/angular.png"/>
            <p class="m-2">Angular </p>
    </mat-grid-tile>
    <mat-grid-tile>
            <img class="md-avatar" src="../../assets/mssql.png"/>
            <p class="m-2">MS SQL</p>
    </mat-grid-tile>
    <mat-grid-tile>
                <img class="md-avatar" src="../../assets/knockoutjs.png"/>
                <p class="m-2">KnockoutJs</p>
    </mat-grid-tile>
    <mat-grid-tile>
                <img class="md-avatar" src="../../assets/android.png"/>
                <p class="m-2">
                    Android Java
                </p>
    </mat-grid-tile>

    <mat-grid-tile>
        <img class="md-avatar" src="../../assets/laravel.png"/>
        <p class="m-2">Laravel PHP</p>
    </mat-grid-tile>

</mat-grid-list>